<h1>Write an article</h1>

<%= form_with scope: :article, url: articles_path, local: true, class: "field" do |form| %>
  <p>
    <%= form.label :title %><br>
    <%= form.text_field :title, class: "form-control" %>
  </p>

  <p>
    <%= form.label :text %><br>
    <%= form.text_area :text, class: "form-control" %>
  </p>

  <p>
    <%= form.submit %>
  </p>
<% end %>
