<h1><%= @article.title %></h1>
<p><%= @article.text %></p>
<%= link_to 'Edit article', edit_article_path %>
<%= link_to 'Back to the list', articles_path %><br>
<%= link_to 'Delete', article_path,
              method: :delete,
              data: { confirm: 'Are you sure?' } %>

<% #COMMENTS %>
<h2>Comments</h2>
<% @article.comments.each do |comment| %>
  <p>
    <strong>User email: </strong>
    <%= comment.user.email %>
  </p>
  <p>
    <strong>Comment:</strong>
    <%= comment.body %>
  </p>
<% end %>


<% #ADD A COMMENT %>
<h2>Add a comment:</h2>
    <%= form_with(model: [ @article, @article.comments.build ], local: true) do |form| %>
      <p>
        <%= form.label :body %><br>
        <%= form.text_area :body %>
      </p>
      <p>
        <%= form.submit %>
      </p>
    <% end %>
